@import "com-colors.css";
.audit-container{
    background: #fff;
    height: calc(100vh);
    overflow: scroll;
}
.audit-container::-webkit-scrollbar {
    display: none;
}

.audit-container .audit-page-header{
    background: #333;
    height: var(--com-nav-height)!important;
    width: 100%;
    position: fixed;
    top: 0;
}
.audit-container .audit-page-header .am-navbar-title{
    font-size: calc(34vmin*var(--rate));
}

.audit-container .audit-t-header{
    width: auto;
    height: calc(60vmin*var(--rate));
    color: #444;
    font-size: calc(28vmin*var(--rate));
    line-height: calc(60vmin*var(--rate));
    display: flex;
    text-align: center;
    margin-top: var(--com-nav-height);
}

.audit-container .audit-t-header div{
    background: #E6E6E6 ;
    min-width: calc(206vmin*var(--rate));
}
.audit-container .audit-t-header .saving-time{
    background: #E6E6E6 ;
    min-width: calc(300vmin*var(--rate));
}



/*.audit-container .audit-t-header .saving-audit{*/
    /*flex: 1;*/
/*}*/

.audit-container .audit-t-body{
    width: auto;
}

.audit-container .audit-t-body .audit-item{
    width: auto;
    height: calc(70vmin*var(--rate));
    color: #444;
    font-size: calc(28vmin*var(--rate));
    line-height: calc(70vmin*var(--rate));
    display: flex;
    text-align: center;
    border-bottom: 1px solid #FFF2F2F2;
}




.audit-container .audit-t-body .audit-item .audit-time{
    min-width: calc(300vmin*var(--rate));

}

.audit-container .audit-t-body .audit-item div{
    min-width: calc(206vmin*var(--rate));

}

.audit-container .audit-t-header div:nth-child(n+1){
    margin:0 calc(2vmin*var(--rate));
    margin-left: 0;
}
