@import '~soul/index.less';

:root .theme-default {
    /*/ 背景色 /*/
    --base-bg-color: #efefef;
    --base-bg-color-reverse: #fff;
    /*公共基础按钮样式*/
    --com-btn-default-color: #fff;
    --com-btn-default-bg-color: #333333;
    --com-btn-ghost-color: #333333;
    --com-btn-ghost-bg-color: transpent;
    --com-btn-primary-color: #fff;
    --com-btn-primary-bg-color: #2377D6;
    --com-btn-normal-color: #fff;
    --com-btn-normal-bg-color: #28BD95;
    --com-btn-active-color: #fff;
    --com-btn-active-bg-color: #EB9000;
    /*公共导航条颜色*/
    --com-nav-font-color: #fff;
    /*公共可点击连接字体颜色*/
    --com-link-font-color: #1F67B9;
    /*公用的信息卡片*/
    --com-message-card-bg-color: #fff;
    --com-message-card-corner-bg-color: #CD1F1F;
    --com-message-card-select-radio-color: #1E68B8;
    --com-message-card-select-radio-bg-color: #EFEFEF;
    /*公用仿分段器tabs*/
    --com-segmented-border: 1px solid #333;
    --com-segmented-active-color: #333;
    --com-segmented-active-font-color: #fff;
    --com-segmented-bg-color: #f00;
    --com-segmented-badge-font-color: #fff;
    /*公共顶部导航背景色*/
    --com-nav-bg-color: #333;
    /*公共版权*/
    --com-copyright-font-color: #999;
    --com-copyright-border: 1px solid #252525;
    /*公共搜索栏*/
    --com-search-line-icon: #999;
    --com-search-line-border: 1px solid #e6e6e6;
    /*公共搜索结果列表*/
    --com-result-line-border: 1px solid #F2F2F2;
    /*公共走马灯颜色*/
    --com-notice-color: #fff;
    --com-notice-bg-color: #F9B552;
    /*主页*/
    --index-page-bar-bg-color: #333;
    --index-page-download-bg-color: rgba(51, 51, 51, 0.9);
    /*首页*/
    --home-page-font-color: #fff;
    --home-page-bg-color: #151515;
    --home-page-carousel-dot-bg-color: #fff;
    --home-page-carousel-dot-active-bg-color: #ff7f00;
    --home-page-notice-bg-color: #252525;
    --home-page-notice-title-bg-color: #168DF6;
    /*下载页面*/
    --downloadPage-download-link-color: #fff;
    /*登录界面*/
    --login-page-checkBox-bg-color: #dcdcdc;
    --login-page-btn-disabled-color: #dcdcdc;
    --login-page-remember-font-color: #999;
    /*资金记录*/
    --fund-record-page-bg-color: #fff;
    --fund-record-page-color: #333;
    --fund-record-page-deling-border: 1px solid #F2F2F2;
    --fund-record-page-value-color: #F07733;
    --fund-record-page-status-color: #60E3A1;
    --fund-record-page-footer-bg-color: #E5EEF7;
    /*注册页面*/
    --register-page-required-mark-color: #f00;
    --register-page-agree-color: #999;
    /*投注记录*/
    --betting-page-result-content-border: 1px solid #F2F2F2;
    --betting-page-item-result-color: #D04144;
    --betting-page-item-status-color: #60E3A1;
    --betting-page-result-header-bg-color: #F0F0F0;
    /*优惠记录*/
    --promo-card-bg-image: radial-gradient(transparent 0, transparent 3px, #fff 3px, #fff);
    --promo-card-main-bg-color: #fff;
    --promo-card-main-description-color: #999;
    --promo-card-copy-font-color: #fff;
    --promo-card-failed-bg-image: radial-gradient(transparent 0, transparent 3px, #7B7B7B 3px, #7B7B7B);
    --promo-card-failed-bg-color: #7B7B7B;
    --promo-card-issued-bg-image: radial-gradient(transparent 0, transparent 3px, #1FBD66 3px, #1FBD66);
    --promo-card-issued-bg-color: #1FBD66;
    --promo-card-review-bg-image: radial-gradient(transparent 0, transparent 3px, #F07E11 3px, #F07E11);
    --promo-card-review-bg-color: #F07E11;

    /*首页基础颜色*/
    /*9宫格*/
    --mainGrid-li-background-color: transparent;
    --mainGrid-item-background: #252525;
    --mainGrid-item-color: #fff;
    /*首页侧拉窗背景颜色*/
    --main-left-pop-modal-bg-color: #444;
    --left-pop-modal-font-color: #fff;
    /*首页右侧弹窗颜色*/
    --home-right-pop-modal-border-color-header: #888;
    --home-right-pop-modal-border-color-content: #3E3E3E;
    --home-right-pop-modal-border-color-modal: #525252;
    --home-right-pop-modal-color-header: #eee;
    --home-right-pop-modal-color-header-extra: #FFC000;
    --home-right-pop-modal-color-content-default: #999;
    --home-right-pop-modal-color-content-maintain: #805628;
    --home-right-pop-modal-color-footer: #fff;
    --home-right-pop-modal-bg-color-header: #515151;
    --home-right-pop-modal-bg-color: #343434;
    --home-right-pop-modal-recyle-color: #2377D6;
    --home-right-pop-modal-saving-color: #28BD95;
    /*主页一级tabs*/
    --main-linear-gradient: linear-gradient(180deg, #2F2F2F 55%, #252525 55%);
    --main-tabs-header-active-background-image: linear-gradient(0deg, #454545 0%, #454545 100%);
    --main-tabs-header-unactive-color: #aaa;
    --main-tabs-header-active-color: #fff;
    /*二级tab-head*/
    --home-page-table-bg-color: #151515;
    --tabs-header-active-color: #fff;
    --tabs-header--underline: #fff;

    /*提现页*/
    --takeCash-border-bottom: #ddd;
    --takeCash-checkAudit-color: #1F67B9;
    --takeCash-unbindCard-color: #1F67B9;
    /*
      存款页
    */
    /*存款方式*/
    --saveItems-background-color: #fff;
    --savingType-color: #333333;
    --saveItems-tips-icon: #1766BB;
    /*电子游戏列表页*/
    --content-background-color: #fff;
    --games-item-list-hot-color:red;
    --games-item-list-type-color: #999;
    --am-search-cancel-color:#333;
    --back-cover-background-color: black;
    --sub-title-color:#888;
    --am-search-cancel-show-color:#ccc;
}

/*蓝白风格*/
:root .light-blue {
}

/*玫瑰白-玫瑰红*/
:root .rose {
}

/*绿黑*/
:root .dark-green {

}

/*蓝黑*/
:root .dark-blue {

}

/*红黑*/
:root .dark-red {

}

/*咖啡白*/
:root .light-coffee {

}

/*橘黑*/
:root .dark-orange {

}

/*橙白*/
:root .light-orange {

}

/*咖啡黑*/
:root .dark-coffee {

}
