
.notice-page .game-notice-content, .notice-page .system-notice-content {
    width: var(--content-width);
    margin: 0 auto;
}

.notice-page .am-tabs-default-bar-content {
    width: var(--tabs-width) !important;
}

.notice-page .com-search-line .date-selector {
    width: calc(230vmin * var(--rate));
}

.notice-page .com-search-line .type-selector {
    width: calc(190vmin * var(--rate));
    box-sizing: border-box;

}

.notice-page .com-search-line .type-selector input {
    padding: 0 calc(13vmin * var(--rate));
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.notice-page .com-search-line .type-selector .am-input-extra {
    width: calc(26vmin * var(--rate));
}

.notice-page .com-search-line .type-selector .am-input-extra .am-icon {
    width: calc(26vmin * var(--rate));
}

.notice-page .notice-page-content {
    height: calc(100vh - var(--com-nav-height) - calc(250vmin * var(--rate)));
    overflow-y: auto;
}

.notice-page .com-no-data {
    height: calc(100vh - var(--com-nav-height) - calc(250vmin * var(--rate)));
}

.notice-page .notice-page-content .no-more {
    text-align: center;
    color: #ddd;
}
