:root .security-page {
    --header-height: calc(540vmin * var(--rate));
    --security-page-header-font-color: #fff;
    --security-page-bg-color: #fff;
    --security-page-list-bg-color: #F2F2F2;
    --security-page-list-border: 1px solid #E2E2E2;
    --header-content-lineHeight: calc(44vmin * var(--rate));
    --header-radar-size: calc(344vmin * var(--rate));
    --header-radar-scan-width: calc(101vmin * var(--rate));
    --header-radar-scan-height: calc(118vmin * var(--rate));
    --security-page-list-height: calc(88vmin * var(--rate));
}

.security-page {
    height: 100vh;
    background-color: var(--security-page-bg-color);
}

.security-page .am-navbar {
    background-color: transparent !important;
}

.security-page .header {
    height: var(--header-height);
    background-image: url("../image/security.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.security-page .radar {
    width: var(--header-radar-size);
    height: var(--header-radar-size);
    background: url("../image/safety_bg@2x.png") no-repeat top center;
    background-size: contain;
    position: relative;
}

.security-page .radar .scan {
    width: var(--header-radar-scan-width);
    height: var(--header-radar-scan-height);
    position: absolute;
    top: calc(var(--header-radar-size) / 2 - var(--header-radar-scan-height));
    left: 50%;
    transform-origin: left bottom;
    animation: circleRotate 5s infinite linear;
    background: url("../image/safety_effect@2x.png") no-repeat top center;
    background-size: contain;
}

.security-page .bind-card-no {
    color: #1766BB;
}

@keyframes circleRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.security-page .header-content {
    color: var(--security-page-header-font-color);
    display: flex;
    flex-direction: column;
    line-height: var(--header-content-lineHeight);
    font-weight: 300;
    text-align: center;
    align-items: center;
}

.security-page .am-list-item {
    height: var(--security-page-list-height);
    border-bottom: var(--security-page-list-border);
    background-color: var(--security-page-list-bg-color);
}

.security-page .bank-image {
    height: calc(22vmin * var(--rate));
    width: auto;
    margin: 0 calc(13vmin * var(--rate));
    vertical-align: baseline;
}

.security-page .bind-card-no {
    font-size: calc(24vmin * var(--rate));
    color: #333;
}

.security-page .am-list-item .am-list-line .am-list-extra {
    -webkit-flex-basis: 16%;
    -ms-flex-preferred-size: 16%;
    flex-basis: 16%;
}

.bind-bankcard-page .am-button {
    margin: calc(40vmin * var(--rate)) auto 0;
}

.bind-phone-page .am-input-label .icon {
    width: calc(30vmin * var(--rate));
    margin-right: calc(30vmin * var(--rate));
}

.bind-phone-page .am-input-label .label {
    vertical-align: text-top;
}

.bind-phone-page .btn-code {
    color: #2BA6FE;
    font-size: 14px;
}

.bind-phone-page .tips-text {
    width: calc(690vmin * var(--rate));
    margin: 0 auto;
    text-align: justify;
    color: #666666;
    font-size: 12px;
    line-height: calc(40vmin * var(--rate));
}

.bind-phone-page .page-content {
    min-height: calc(200vmin * var(--rate));
}

.bind-phone-page .bind-result {
    padding: calc(58vmin * var(--rate)) 0;
    height: calc(84vmin * var(--rate));
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: space-between;
}

.bind-phone-page .bind-result p {
    width: 100%
}

.bind-phone-page .bind-result p:last-child {
    color: #FF8A00;
}

.bind-phone-page .tips-text a {
    color: #1766BB;
}

.modify-password-page .code .icon {
    color: #CCCCCC;

}

.modify-password-page .code input {
    text-align: left !important;
}

.modify-password-page .password-strength {
    height: calc(100vmin * var(--rate));
    line-height: calc(100vmin * var(--rate));
    background-color: #EFEFEF;
}

.modify-password-page .password-strength span {
    display: inline-block;
    background-color: #D9D9D9;
    width: calc(100vmin * var(--rate));
    height: calc(25vmin * var(--rate));
    margin-left: calc(20vmin * var(--rate));
    border-radius: calc(25vmin * var(--rate));
    line-height: 1.5;
}

.modify-password-page .password-strength span.high {
    background-color: #777777;

}

.modify-password-page .times {
    background-color: transparent !important;
}

.modify-password-page .times .am-list-line .am-list-content {
    color: #ccc;
}

.modify-securityPsd-page .times {
    background-color: transparent !important;
}

.modify-securityPsd-page .times .am-list-line .am-list-content {
    color: #ccc;
}
