.video-game-list-page .tab-bar{
    height:var(--tabbar-height);
    background-color: var(--content-background-color);
}
.video-game-list-page .game-tab-content{
    height:calc(100vh - var(--com-nav-height));
    overflow: auto;
    background-color: var(--content-background-color);
}
.video-game-list-page .am-pull-to-refresh-indicator{
    display: none;
}
.video-game-list-page .tabItem,.video-game-list-page p{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height:1.5;
}
.video-game-list-page .am-tabs-default-bar-tab{
    height:var(--tabbar-height);
    font-size:var(--tabbar-font-size);
}

.video-game-list-page .content{
    overflow: auto;
    /*height:var(--content-height);*/
    background-color: var(--content-background-color);
}
.video-game-list-page .com-no-data{
    height:var(--content-height);
}
.video-game-list-page .noTabData .com-no-data{
    height:var(--noTabData-content-height);
}

/*九宫格3*1*/
.video-game-list-page .games-grid .am-grid-item{
    margin-top: var(--grid-item-margin-top);
    height: var(--grid-item-height);
}
.video-game-list-page .games-grid .am-grid-item-content{
    margin-left: var(--item-content-margin-left);
}
.video-game-list-page .games-grid .item-content{
    width: var(--gamesGrid-itemImg-width);
    border: 1px solid #bbb;
    box-shadow: 0 2px 4px #bbb;
    border-radius: 5px;
}
.video-game-list-page .games-grid img{
    width: var(--gamesGrid-itemImg-width);
    height: var(--gamesGrid-itemImg-height);
}

.video-game-list-page .games-grid .itemText{
    width: var(--gamesGrid-itemText-width);
    height: var(--gamesGrid-itemText-height);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/*九宫格1*1*/
.video-game-list-page .games-item-list .am-grid-item{
    width: 100%;
    height: var(--games-item-list-am-grid-item-height);
}
.video-game-list-page .games-item-list .item-content{
    padding: var(--games-item-list-item-content-padding);
    text-align: left;
}
.video-game-list-page .games-item-list .item-content img{
    display: inline;
    width: var(--gamesGrid-itemImg-width);
    height: var(--games-item-list-gamesGrid-itemImg-height);
}

.video-game-list-page .games-item-list .itemText{
    width: var(--gamesGrid-itemImg-width);
    height: var(--games-item-list-gamesGrid-itemImg-height);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding-left: var(--games-item-list-itemText-padding-left);
}
.video-game-list-page .games-item-list .itemText .name,
.video-game-list-page .games-item-list .itemText .hot{
    margin-top: var(--games-item-list-name-margin-top);
    font-size: var(--games-item-list-name-font-size);
}
.video-game-list-page .games-item-list .itemText .hot{
    color: var(--games-item-list-hot-color);
}
.video-game-list-page .games-item-list .itemText .type{
    margin-top: var(--games-item-list-type-margin-top);
    font-size: var(--games-item-list-type-font-size);
    color: var(--games-item-list-type-color);
}
.video-game-list-page .games-item-list .play-game{
    display: inline-block;
    float: right;
    line-height:var(--games-item-list-gamesGrid-itemImg-height);
    font-size: var(--games-item-list-play-game-font-size);
}

/*搜索框*/
.video-game-list-page .game-tab-content{
    position: relative;
}
.video-game-list-page .gameSearchOn{
    width: 100%;
    display: block;
    z-index: 3;
    position: absolute;
}
.video-game-list-page .search-name-content{
    position: relative;
}
.video-game-list-page .back-cover{
    background-color: var(--back-cover-background-color);
    opacity:0.4;
    height:calc(100vh - var(--tabbar-height));
    position: absolute;
    width: 100%;
}
.video-game-list-page .game-tabs{
    z-index: 1;
}
.video-game-list-page .gameSearchOff{
    display: none;
}
.video-game-list-page .am-search {
    background: none;
}
.video-game-list-page .am-search-cancel{
    color: var(--am-search-cancel-color);
}
.video-game-list-page .sub-title {
    color: var(--sub-title-color);
    font-size: var(--sub-title-font-size);
    padding: var(--sub-title-padding);
}
.video-game-list-page .am-search-input {
    height: var(--am-search-input-height);
    line-height: var(--am-search-input-line-height);
}
.video-game-list-page .am-search-cancel-show {
    padding-left: 0;
    margin-left: var(--am-search-cancel-show-margin-left);
    background-color: var(--am-search-cancel-show-color);
    width: var(--am-search-cancel-show-width);
    opacity: 1;
    text-align: center;
    height: var(--am-search-cancel-show-height);
    line-height: var(--am-search-cancel-show-line-height);
    border-radius: var(--am-search-cancel-show-border-radius);
}
.video-game-list-page .am-search-input .am-search-synthetic-ph{
    line-height: var(--am-search-synthetic-ph-height);
    text-align: left;
    padding-left: var(--am-search-synthetic-ph-padding-left);
}
.video-game-list-page .am-search-input input[type="search"]{
    height: var(--am-search-input-height);
}
.video-game-list-page .am-search-input .am-search-clear{
    padding: var(--am-search-clear-padding);
}

/*1.tab一级*/

.hidden-gameType-tabBar .game-type-hide{
    display: none;
}
.hidden-gameType-tabBar .game-type-show{
    display: block;
    /*height: 120px;*/
}
.hidden-gameType-tabBar .am-tabs-default-bar-tab {
    height:var(--game-type-height);
    background-color: black;
    padding: 0;
}

.hidden-gameType-tabBar .am-tabs-default-bar-tab::after {
    height: 0 !important;
}

.hidden-gameType-tabBar .tabItem {
    text-align: center;
    margin-top: var(--tabItem-margin-top);
}

/*图标*/
.hidden-gameType-tabBar .tabItem .itemImg {
    height: calc(135vmin * var(--rate));
    width: calc(135vmin * var(--rate));
}

.hidden-gameType-tabBar .tabItem img {
    height: calc(120vmin * var(--rate));
    width: calc(120vmin * var(--rate));
    align-items: center;
}

.hidden-gameType-tabBar .am-tabs-default-bar-tab p {
    line-height: var(--main-tabs-height);
    color: var(--main-tabs-header-unactive-color);
}

.hidden-gameType-tabBar .am-tabs-default-bar-tab-active p {
    color: var(--main-tabs-header-active-color);
    font-size: var(--main-tabs-header-font-size);
}
.hidden-gameType-tabBar .am-tabs-default-bar-tab-active .tabItem img {
    height: calc(132vmin * var(--rate));
    width: calc(132vmin * var(--rate));
}

/*上箭头*/
.hidden-gameType-tabBar .am-tabs-default-bar-tab-active .up-icon {
    display: block !important;
    position: absolute;
    left: 40%;
    bottom: 0;
    border: 1.8vmin solid transparent;
    border-bottom: 1.8vmin solid white;
}

/*选中背景*/
.hidden-gameType-tabBar .am-tabs-default-bar-tab-active {
    /*background-image: var(--main-tabs-header-active-background-image);*/
}

/*下横线*/
.hidden-gameType-tabBar .am-tabs-default-bar-underline {
    display: none;
}
