.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.merchant-container {
  background-color: #f0f2f5;
  padding: 20px;
}
.merchant-container-1 {
  width: 100%;
  height: 419px;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
}
.merchant-container-2 {
  margin-top: 20px;
  width: 100%;
  height: 503px;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  position: relative;
}
.el-header {
  font-size: 22px;
  color: #42b983;
  position: relative;
  top: 2%;
}
.el-main {
  width: 98%;
  position: relative;
  left: 1%;
  top: -5%;
  border: 1px solid #DFDFDF;
}

.suffix-content {
  position: absolute;
  left: 40%;
  top: 83%;
}

.btn-update {
  position: relative;
  left: 20%;
}

.btn-cancel {
  position: relative;
  left: 20%;
}

.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}
