:root {
    /*公共部分 与公共无关的不要使用*/
    --rate: 100/750;
    --font-size: calc(28vmin * var(--rate));
    --base-font-size: calc(28vmin * var(--rate));
    /*顶部导航高度*/
    --com-navbar-right-margin-right: calc(20vmin * var(--rate));
    /*公共导航*/
    --com-nav-height: calc(93vmin * var(--rate));
    /*公共版权*/
    --com-copyright-height: calc(70vmin * var(--rate));
    --com-copyright-font-size: calc(24vmin * var(--rate));
    /*公共走马灯*/
    --com-notice-height: calc(58vmin * var(--rate));
    --com-notice-font-size: calc(28vmin * var(--rate));
    /*popover无法归于某个class之下*/
    --fund-record-page-type-popover: calc(400vmin * var(--rate));
}

/*公用仿分段器tabs样式*/
:root .com-segmented-control-tabs {
    --tabs-height: calc(60vmin * var(--rate));
    --tabs-inner-height: calc(56vmin * var(--rate));
    --tabs-margin: calc(30vmin * var(--rate)) auto;
    --tabs-border-radius: calc(10vmin * var(--rate));
    --tabs-badge-width: calc(32vmin * var(--rate));
    --tabs-badge-height: calc(32vmin * var(--rate));
    --tabs-badge-left: calc(-12vmin * var(--rate));
    --tabs-badge-top: calc(-12vmin * var(--rate));
    --tabs-badge-font-size: calc(24vmin * var(--rate));
    --tabs-badge-transform-origin: calc(16vmin * var(--rate)) calc(16vmin * var(--rate));
}

/*公用信息卡片*/
:root .com-message-card {
    --card-margin: 0 0 calc(24vmin * var(--rate)) 0;
    --card-height: calc(200vmin * var(--rate));
    --card-corner-width: calc(160vmin * var(--rate));
    --card-corner-height: calc(44vmin * var(--rate));
    --card-corner-top: calc(8vmin * var(--rate));
    --card-corner-right: calc(-50vmin * var(--rate));
    --card-corner-font-size: calc(22vmin * var(--rate));
    --card-content-font-size: calc(24vmin * var(--rate));
    --card-content-margin: calc(40vmin * var(--rate)) calc(53vmin * var(--rate)) 0 calc(35vmin * var(--rate));
    --card-content-line-height: calc(40vmin * var(--rate));
    --card-message-info-margin: 0 calc(39vmin * var(--rate)) calc(22vmin * var(--rate)) 0;
    --card-message-info-author-margin: 0 calc(40vmin * var(--rate)) 0 0;
}

/*公用搜索行*/
:root .com-search-line {
    --height: calc(100vmin * var(--rate));
    --input-height: calc(56vmin * var(--rate));
    --font-size: calc(24vmin * var(--rate));
    --icon-width: calc(24vmin * var(--rate));
    --icon-height: calc(24vmin * var(--rate));
    --separator-width: calc(30vmin * var(--rate));
    --border-radius: calc(12vmin * var(--rate));
    --btn-margin: 0 0 0 calc(20vmin * var(--rate));
    --input-label-margin: 0 calc(7vmin * var(--rate)) 0 calc(12vmin * var(--rate));
    --list-padding: 0 calc(13vmin * var(--rate)) 0 0;
}

/*公共结果表头*/
:root .com-result-header {
    --height: calc(60vmin * var(--rate));
}

/*公共结果列表*/
:root .com-result-line {
    --min-height: calc(80vmin * var(--rate));
}

/*公共总计*/
:root .com-total-count {
    --footer-height: calc(125vmin * var(--rate));
    --footer-title-width: calc(100vmin * var(--rate));
    --footer-title-font-size: calc(28vmin * var(--rate));
    --footer-title-line-height: calc(78vmin * var(--rate));
    --footer-content-width: calc(600vmin * var(--rate));
    --footer-content-height: calc(65vmin * var(--rate));
    --footer-content-font-size: calc(24vmin * var(--rate));
}

/*主页 index-page*/
:root .index-page {
    --bar-height: calc(90vmin * var(--rate));
}

/*登录页*/
:root .login-page {
    --input-height: calc(80vm--search-type-input-extra-widthin * var(--rate));
    --font-size: calc(28vmin * var(--rate));
    --button-height: calc(80vmin * var(--rate));
    --input-gap: calc(25vmin * var(--rate));
}

/*注册页面*/
:root .register-page {

}

/*首页*/
:root .home-page {
    --page-height: calc(100vh - var(--bar-height));
    --page-content-height: calc(var(--page-height) - var(--com-nav-height));
    --host-name-height: calc(40vmin * var(--rate));
    --host-name-font-size: calc(26vmin * var(--rate));
    --user-info-height: calc(20vmin * var(--rate));
    --user-info-icon-height: calc(26vmin * var(--rate));
    --user-info-fn-icon-height: calc(44vmin * var(--rate));
    --nav-logo-height: calc(52vmin * var(--rate));
    --nav-btn-width: calc(78vmin * var(--rate));
    --nav-btn-height: calc(53vmin * var(--rate));
    --nav-btn-margin: 0 calc(8vmin * var(--rate)) 0 0;
    --nav-btn-group-margin: calc(8vmin * var(--rate)) 0 0 0;
    --carousel-height: calc(280vmin * var(--rate));
    --carousel-dot-width: calc(10vmin * var(--rate));
    --carousel-dot-height: calc(10vmin * var(--rate));
    --carousel-dot-margin: 0 0 calc(10vmin * var(--rate)) 0;
    --download-btn-padding: 0 calc(20vmin * var(--rate));
    --download-height: calc(70vmin * var(--rate));
    --download-padding: 0 calc(30vmin * var(--rate));
    --download-font-size: calc(24vmin * var(--rate));
    --download-icon-margin: 0 calc(20vmin * var(--rate)) 0 0;
    --download-btn-height: calc(50vmin * var(--rate));
    --notice-title-padding: 0 calc(10vmin * var(--rate));
    --notice-title-height: calc(42vmin * var(--rate));
    --notice-title-borer-radius: calc(5vmin * var(--rate));
    --notice-title-margin: 0 calc(10vmin * var(--rate)) 0 calc(19vmin * var(--rate));
    /*主页一级tabs*/
    --main-tabs-height: calc(56vmin * var(--rate)); /*一级tabs默认高度*/
    --tabs-header-height: calc(126vmin * var(--rate));
    /*主页九宫格*/
    --mainGrid-width: calc(710vmin * var(--rate));
    --mainGrid-item-width: calc(230vmin * var(--rate));
    --mainGrid-item-height: calc(204vmin * var(--rate));
    --mainGrid-item-border-radius: calc(10vmin * var(--rate));
    --mainGrid-item-margin: calc(10vmin * var(--rate));
    --mainGrid-li-margin-bottom: calc(-10vmin * var(--rate));
    --mainGrid-item-img-width: calc(104vmin * var(--rate));
    --mainGrid-item-img-height: calc(104vmin * var(--rate));
    --mainGrid-item-font-size: var(--base-font-size);
    --mainGrid-item-text-line-height: 2.5;
    --main-tabs-header-font-size: var(--base-font-size);
    --tabItem-margin-top: calc(10vmin * var(--rate)); /*整个图片和文字上下调整*/
    --main-tabs-header-image-height: calc(50vmin * var(--rate));
    --main-tabs-header-image-width: calc(50vmin * var(--rate));
    /*主页二级tabs*/
    --commonTable-height: calc(100vmin * var(--rate));
    --commonTable-header-image-height: calc(62vmin * var(--rate));
    --commonTable-header-image-width: calc(62vmin * var(--rate));
    --commonTable-header-font-size: var(--base-font-size);
    --commonTable-header-text-width: calc(145vmin * var(--rate));
}--search-type-input-extra-width

/*个人中心*/
:root .mine-page {
    --content-height: calc(100vh - calc(90vmin * var(--rate)));
    --header-height: calc(240vmin * var(--rate));
}

/*消息中心*/
:root .notice-page {
    --tabs-width: calc(632vmin * var(--rate));
    --content-width: calc(690vmin * var(--rate));
}

/*全民推广*/
:root .recommend-page {
    --title-font-size: calc(28vmin * var(--rate));
    --title-margin: calc(25vmin * var(--rate)) calc(30vmin * var(--rate)) calc(14vmin * var(--rate));
    --card-margin: 0 calc(30vmin * var(--rate)) calc(20vmin * var(--rate));
}

/*资金记录页面*/
:root .fund-record-page {
    --height: 100vh;
    --font-size: calc(24vmin * var(--rate));
    --search-width: calc(690vmin * var(--rate));
    --search-margin: 0 auto;
    --search-date-width: calc(200vmin * var(--rate));
    --search-type-input-padding: 0 0 0 calc(10vmin * var(--rate));
    --search-type-input-extra-width: calc(44vmin * var(--rate));
    --search-quick-width: calc(125vmin * var(--rate));
    --search-quick-height: calc(56vmin * var(--rate));
    --search-quick-margin: 0 0 0 calc(20vmin * var(--rate));
    --search-type-width: calc(400vmin * var(--rate));
    --search-search-width: calc(270vmin * var(--rate));
    --dealing-height: calc(80vmin * var(--rate));
    --dealing-margin: 0 0 0 calc(30vmin * var(--rate));
    --result-list-height: calc(100vh - var(--com-nav-height) - calc(100vmin * var(--rate)) * 2 - calc(60vmin * var(--rate)) - var(--dealing-height) - calc(125vmin * var(--rate)));
    --result-item-width: calc(186vmin * var(--rate));
}

/*投注记录页面*/
:root .betting-page {
    --font-size: calc(24vmin * var(--rate));
    --search-width: calc(690vmin * var(--rate));
    --search-margin: 0 auto;
    --search-date-width: calc(200vmin * var(--rate));
    --search-search-width: calc(125vmin * var(--rate));
    --result-list-height: calc(100vh - var(--com-nav-height) - calc(100vmin * var(--rate)) - calc(60vmin * var(--rate)) - calc(125vmin * var(--rate)));
    --result-game-name-width: calc(164vmin * var(--rate));
    --result-betting-time-width: calc(189vmin * var(--rate));
    --result-betting-value-width: calc(146vmin * var(--rate));
    --result-betting-result-width: calc(143vmin * var(--rate));
    --result-betting-status-width: calc(100vmin * var(--rate));
    --result-content-line-height: calc(27vmin * var(--rate));
    --result-item-min-height: calc(52vmin * var(--rate));
    --result-item-margin: calc(14vmin * var(--rate)) 0;
    --result-header-height: calc(60vmin * var(--rate));
}

/*下载页面*/
:root .download-page {
    --height: calc(100vh - var(--com-nav-height));
    --image-width: calc(200vmin * var(--rate));
    --image-height: calc(200vmin * var(--rate));
    --image-margin-top: calc(80vmin * var(--rate));
    --title-font-size: calc(48vmin * var(--rate));
    --description-font-size: calc(24vmin * var(--rate));
    --line-height: calc(48vmin * var(--rate));
    --title-margin-top: calc(20vmin * var(--rate));
    --download-area-margin-top: calc(120vmin * var(--rate));
    --download-link-width: calc(472vmin * var(--rate));
    --download-link-height: calc(88vmin * var(--rate));
    --download-link-font-size: calc(34vmin * var(--rate));
    --download-link-margin-bottom: calc(40vmin * var(--rate));
}

/*收件箱*/
:root .inbox-page {
    --tabs-width: calc(616vmin * var(--rate));
    --btn-height: calc(120vmin * var(--rate));
    --btn-del-width: calc(120vmin * var(--rate));
    --btn-mark-width: calc(150vmin * var(--rate));
    --content-width: calc(690vmin * var(--rate));
}

/*优惠记录*/
:root .promo-record-page {
    --height: calc(100vh - var(--com-nav-height));
    --promo-card-height: calc(150vmin * var(--rate));
    --promo-card-margin: calc(20vmin * var(--rate));
    --promo-card-bg-position: -5px -10px;
    --promo-card-bg-size: 11px 6px;
    --promo-card-main-margin: 0 0 0 5px;
    --promo-card-main-width: calc(510vmin * var(--rate));
    --promo-card-main-padding: calc(18vmin * var(--rate)) calc(33vmin * var(--rate));
    --promo-card-main-type-width: calc(186vmin * var(--rate));
    --promo-card-copy-width: calc(206vmin * var(--rate));
    --promo-card-copy-margin: 0 0 0 5px;
    --promo-card-copy-font-size: calc(28vmin * var(--rate));
    --promo-card-copy-value-font-size: calc(34vmin * var(--rate));
    --promo-card-copy-value-lineHeight: calc(26vmin * var(--rate));
    --promo-card-copy-value-margin: calc(33vmin * var(--rate)) 0 calc(27vmin * var(--rate));
    --promo-card-copy-inner-margin: 0 0 0 5px;
    --promo-card-circle-width: calc(28vmin * var(--rate));
    --promo-card-circle-height: calc(28vmin * var(--rate));
    --promo-card-circle-position: calc(-14vmin * var(--rate));

}

/*电子游戏列表页*/
:root .video-game-list-page {
    --tabbar-height: calc(76vmin * var(--rate));
    --tabbar-font-size: calc(28vmin * var(--rate));
    --content-height: calc(100vh - var(--com-nav-height) - var(--tabbar-height));
    --noTabData-content-height:calc(100vh - var(--com-nav-height));
    --gamesGrid-itemImg-width: calc(200vmin * var(--rate));
    --gamesGrid-itemImg-height: calc(200vmin * var(--rate));
    --gamesGrid-itemText-width: calc(200vmin * var(--rate));
    --gamesGrid-itemText-height: calc(60vmin * var(--rate));
    --grid-item-margin-top: calc(10vmin * var(--rate));
    --grid-item-height: calc(280vmin * var(--rate));
    --item-content-margin-left: calc(25vmin * var(--rate));

    --games-item-list-gamesGrid-itemImg-height: calc(150vmin * var(--rate));
    --games-item-list-item-content-padding: calc(20vmin * var(--rate));
    --games-item-list-am-grid-item-height: calc(190vmin * var(--rate));
    --games-item-list-itemText-padding-left: calc(30vmin * var(--rate));
    --games-item-list-name-margin-top: calc(6vmin * var(--rate));
    --games-item-list-name-font-size: calc(28vmin * var(--rate));
    --games-item-list-type-margin-top: calc(18vmin * var(--rate));
    --games-item-list-type-font-size: calc(24vmin * var(--rate));
    --games-item-list-play-game-font-size: calc(60vmin * var(--rate));
    /*搜索框*/
    --sub-title-font-size:calc(28vmin * var(--rate));
    --sub-title-padding:calc(60vmin * var(--rate)) 0 calc(36vmin * var(--rate)) 0;
    --am-search-input-height:calc(70vmin * var(--rate));
    --am-search-input-line-height:calc(70vmin * var(--rate));
    --am-search-cancel-show-margin-left:calc(10vmin * var(--rate));
    --am-search-cancel-show-width:calc(168vmin * var(--rate));
    --am-search-cancel-show-height:calc(70vmin * var(--rate));
    --am-search-cancel-show-line-height:calc(70vmin * var(--rate));
    --am-search-cancel-show-border-radius:calc(6vmin * var(--rate));
    --am-search-synthetic-ph-height:calc(70vmin * var(--rate));
    --am-search-synthetic-ph-padding-left:calc(10vmin * var(--rate));
    --am-search-clear-padding:calc(20vmin * var(--rate));
    --game-type-height:calc(220vmin * var(--rate));
}