.pay-container {
    height: calc(100vh - var(--com-nav-height));
    overflow-y: auto;
}

.pay-container .pay-type-info {
    background-color: #fff;
}

.pay-container .title {
    text-indent: calc(10vmin * var(--rate));
    padding-top: calc(16vmin * var(--rate));
}

.pay-container .title::before {
    content: '';
    width: 0;
    height: calc(34vmin * var(--rate));
    border-left: calc(6vmin * var(--rate)) solid #1766BB;
}

.pay-container .am-list-content, .pay-container .pay-type-method, .pay-container .pay-type-method img, .pay-container .qr-code-card .am-card-header-content {
    text-align: center;
}

.pay-container .pay-type-method img {
    display: inline-block;
    height: calc(76vmin * var(--rate));
    min-width: calc(76vmin * var(--rate));;
}

.pay-container .pay-type-method .sub-title {
    height: calc(82vmin * var(--rate));
    line-height: calc(82vmin * var(--rate));
}

.pay-container .pay-type-method .sub-title .copy-text {
    background-color: #F6FAFF;
    color: #1F67B9;
    margin-left: calc(8vmin * var(--rate));
}

.pay-container .label {
    display: inline-block;
    min-width: calc(100vmin * var(--rate));
    color: #999;
    padding-right: calc(20vmin * var(--rate));
}

.pay-container .label:after {
    content: '';
    display: inline-block;
    padding-left: 99%;
}

.pay-container .wallet-info, .pay-container .qr-code-card, .pay-container .company-bankcard {
    width: calc(634vmin * var(--rate));
    background-color: #F7F7F7;
    margin: 0 auto;
}

.pay-container .wallet-info {
    padding: 0;
}

.pay-container .wallet-info .am-card-body {
    padding: 0 calc(26vmin * var(--rate));
}

.pay-container .wallet-info .am-card-body::before {
    height: 0;
}

.pay-container .wallet-info .am-list-item {
    height: calc(74vmin * var(--rate));
    line-height: calc(74vmin * var(--rate));
    background-color: unset;
}

.pay-container .wallet-info .am-list-item:first-child {
    border-bottom: 1px solid #E6E6E6;
}

.pay-container .qr-code-card {
    text-align: center;
    padding: unset;
}

.pay-container .qr-code-card .am-card-header {
    padding: 0;
    font-size: calc(32vmin * var(--rate));
    height: calc(82vmin * var(--rate));
    line-height: calc(82vmin * var(--rate));

}

.pay-container .qr-code-card .am-card-body {
    padding: calc(27vmin * var(--rate)) 0;
    margin: 0 calc(27vmin * var(--rate));
}

.pay-container .qr-code-card .am-card-header-content {
    display: block;
}

.pay-container .qr-code-card .qr-code-img {
    width: calc(200vmin * var(--rate));
    height: calc(200vmin * var(--rate));
    display: inline-block;
}

.pay-container .qr-code-card .qr-code-save {
    font-size: calc(28vmin * var(--rate));
    line-height: calc(92vmin * var(--rate));
    height: calc(62vmin * var(--rate));
    color: #1F67B9;
}

.pay-container .list-item .am-list-item, .pay-container .list-item .am-list-line {
    padding: unset;
}

.pay-container .company-bankcard {
    margin: calc(10vmin * var(--rate)) auto;
    background-color: #f7f7f7;
    overflow-y: hidden;
}

.pay-container .company-bankcard .company-bankcard-body {
    padding: calc(10vmin * var(--rate));
    border-radius: calc(10vmin * var(--rate));
    background-color: #fff;
}

/*公司入款*/
.pay-container .company-pay-info .am-card-header-content img {
    height: calc(40vmin * var(--rate));
    width: unset;
}

.pay-container .company-pay-info .company-bankcard-item {
    min-height: calc(60vmin * var(--rate));
    line-height: calc(32vmin * var(--rate));
}

.pay-container .company-pay-info .company-bankcard-item .copy {
    color: #2BA6FE;
    min-width: calc(120vmin * var(--rate));
    text-align: right;
}

.pay-container .company-pay-info .company-bankcard .am-card-body {
    font-size: 14px;
}

.pay-container .company-pay-info .company-bankcard .am-card-header-extra {
    font-size: 12px;
}

.pay-container .am-list-body, .pay-container .button.am-list-item {
    background-color: transparent;
}

.pay-container .button.am-list-item {
    margin: calc(26vmin * var(--rate)) 0;
}

.pay-container .company-bankcard-body .am-list-extra {
    max-width: calc(100vmin * var(--rate));
}

.pay-container .company-bankcard-body .am-list-item, .pay-container .company-bankcard-body .am-list-line {
    padding: unset;
}

.pay-container .company-bankcard-body .copy-text {
    background-color: #eee;
}

/*弹窗*/
.pay-container.am-modal {
    height: unset;
}

.pay-container.am-modal .activity-list {
    border-radius: 5px;
    overflow: hidden;
    max-height: calc(210vmin * var(--rate));
}

.pay-container.am-modal .activity-list .am-list-item {
    background-color: #ddd;
}
