
.download-page .content {
    height: var(--height);
    background-image: url("../image/download.jpg");
    background-size: cover;

}

.download-page .app-logo {
    width: var(--image-width);
    height: var(--image-height);
    margin-top: var(--image-margin-top);
}

.download-page .title {
    font-size: var(--title-font-size);
    margin-top: var(--title-margin-top);
    line-height: var(--line-height);
    min-width: 1vmin;
    min-height: var(--line-height);
}

.download-page .description {
    font-size: var(--description-font-size);
    line-height: var(--line-height);
}

.download-page .download-area {
    margin-top: var(--download-area-margin-top);
}

.download-page .download-link {
    display: block;
    text-align: center;
    width: var(--download-link-width);
    height: var(--download-link-height);
    line-height: var(--download-link-height);
    font-size: var(--download-link-font-size);
    margin-bottom: var(--download-link-margin-bottom);
    color: var(--downloadPage-download-link-color);
    border: 1px solid var(--downloadPage-download-link-color);
    border-radius: 6px;
}
