
.inbox-page .am-tabs-default-bar-content {
    width: var(--tabs-width) !important;
}

.inbox-page .system-message-content,
.inbox-page .my-message-content,
.inbox-page .send-message-content {
    width: var(--content-width);
    margin: 0 auto;
}

.inbox-page .inbox-page-btn {
    height: var(--btn-height);
    display: flex;
    align-items: center
}

.inbox-page .inbox-page-content {
    height: calc(100vh - calc(93vmin * var(--rate)) - calc(2 * var(--tabs-height)) - var(--btn-height) - calc(30vmin * var(--rate)));
    overflow-y: auto;
}

.inbox-page .com-no-data {
    height: calc(100vh - calc(93vmin * var(--rate)) - calc(2 * var(--tabs-height)) - var(--btn-height) - calc(30vmin * var(--rate)));
}

.inbox-page .system-message-content .am-button, .inbox-page .my-message-content .am-button, .inbox-page .am-checkbox-agree {
    height: calc(60vmin * var(--rate));
    line-height: calc(60vmin * var(--rate));
    margin-right: calc(20vmin * var(--rate));
}

.inbox-page .del-button {
    width: var(--btn-del-width);
}

.inbox-page .mark-button {
    width: var(--btn-mark-width);
}

.inbox-page .send-message-content .am-card {
    overflow: hidden;
    width: calc(690vmin * var(--rate));
    margin: calc(30vmin * var(--rate)) auto;
    padding-bottom: unset !important;
}

.inbox-page .send-message-content .btn-group {
    display: flex;
    justify-content: space-between;
}

.inbox-page .send-message-content .btn-group .am-button {
    width: calc(330vmin * var(--rate));
    height: calc(74vmin * var(--rate));
    line-height: calc(74vmin * var(--rate));
}

.inbox-page .send-message-content .content .am-textarea-control {
    border: 1px solid #f2f2f2;
    margin:  calc(30vmin * var(--rate)) 0;
    padding: calc(20vmin * var(--rate));
    border-radius: 5px;
}

.inbox-page .send-message-content .input-line {
    border-bottom: 1px solid #f2f2f2;
}

.inbox-page .send-message-content .am-list-line, .inbox-page .send-message-content .am-list-line {
    height: calc(80vmin * var(--rate));
}

.inbox-page .send-message-content input {
    text-align: right;
}

.inbox-page .am-list-item .am-list-line .am-list-extra {
    color: #CCCCCC;
}

.inbox-page .am-checkbox-agree, .inbox-page .am-checkbox-agree .am-checkbox-agree-label {
    line-height: calc(60vmin * var(--rate));
    padding: 0;
}

.inbox-page .am-checkbox {
    width: calc(44vmin * var(--rate)) !important;
}

.inbox-page .am-checkbox-agree .am-checkbox-agree-label {
    margin-left: calc(44vmin * var(--rate)) !important;
}

.inbox-page .am-checkbox-agree .am-checkbox-inner {
    width: calc(36vmin * var(--rate));
    height: calc(36vmin * var(--rate));
    top: calc(14vmin * var(--rate));
}

.inbox-page .am-pull-to-refresh-content-wrapper {
    min-height: calc(400vmin * var(--rate));
}

.inbox-page .send-message-content img {
    width: calc(100vmin * var(--rate));
}
