
.index-page {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0
}

.index-page .am-tab-bar-bar::before {
    height: 0 !important;
}

.index-page .am-tab-bar-bar {
    height: var(--bar-height);
    background-color: var(--index-page-bar-bg-color) !important;
}

.index-page .am-tab-bar-bar .am-tab-bar-tab-title {
    transform: scale(.75);
}

.index-page .am-tab-bar-bar .am-tab-bar-tab-icon .icon {
    font-size: calc(40vmin * var(--rate))
}
