 /*优惠*/
.preferential .tabItem p{
    margin: 0;
    textAlign: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.preferential .am-tabs-default-bar-underline{
    border: #333 solid calc(3vmin*var(--rate));
}

/*content*/
.preferential .typeList {
    width: calc(720vmin*var(--rate));
    margin: calc(10vmin*var(--rate)) auto;
}
.preferential .typeList .listItem{
    background-color: #E6E6E6;
    width: calc(720vmin*var(--rate));
    height: calc(206vmin*var(--rate));
}
.preferential .typeList .listItem .itemImg{
    background-color: #fff;
    padding: calc(14vmin*var(--rate));
    width: calc(720vmin*var(--rate));
    height: calc(130vmin*var(--rate));
    border-radius:calc(8vmin*var(--rate));
}
.preferential .typeList .listItem img{
    width: calc(690vmin*var(--rate));
    height: calc(100vmin*var(--rate));
    border-radius:calc(10vmin*var(--rate));
}
.preferential .typeList .listItem .itemBottom{
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
}
.preferential .typeList .listItem span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:calc(14vmin*var(--rate));
    color: #343434;
    font-size: calc(26vmin*var(--rate));
    line-height:calc(50vmin*var(--rate))
}
 .preferential .typeList .listItem a{
     color: #1E68B8;
 }
.preferential .typeList .listItem .itemText{
    width: calc(460vmin*var(--rate));
    text-align: left;
}
.preferential .typeList .listItem .checkDetail{
    color: #1E68B8;
    width: calc(230vmin*var(--rate));
    text-align: right;
}

/*无数据提示*/
.preferential .typeList .noData{
    background-color: #fff;
    height:calc(966vmin*var(--rate));
    margin:calc(62vmin*var(--rate)) calc(15vmin*var(--rate)) 0;
}
 .preferential .typeList .noData .noDataImg{
     width: calc(310vmin*var(--rate));
     height: calc(232vmin*var(--rate));
     margin:calc(294vmin*var(--rate)) auto 0;
 }
 .preferential .typeList .noData .noDataImg img{
     width: calc(310vmin*var(--rate));
     height: calc(232vmin*var(--rate));
 }
 .preferential .typeList .noData .noDataTip{
     color: #CCCCCC;
     font-size:calc(28vmin*var(--rate));
     text-align: center;
 }
