.promo-record-page .promo-card-main-content {
    height: var(--height);
    overflow-y: auto;
}

.promo-record-page .card-list {
    min-height: var(--height);
}
.promo-record-page .com-no-data{
    height:var(--height);
    background-color: transparent;
}
/*优惠券公共样式*/
.promo-record-page .promo-card {
    height: var(--promo-card-height);
    margin: var(--promo-card-margin);
    position: relative;
    background-image: var(--promo-card-bg-image);
    background-position: var(--promo-card-bg-position);
    background-size: var(--promo-card-bg-size);
}

.promo-record-page .promo-card .main-content {
    display: flex;
    background-color: var(--promo-card-main-bg-color);
    margin: var(--promo-card-main-margin);
    width: var(--promo-card-main-width);
    height: 100%;
    padding: var(--promo-card-main-padding);
    box-sizing: border-box;
    overflow: hidden;
    align-content: space-between;
    flex-wrap: wrap;
}

.promo-record-page .promo-card .main-content .title {
    width: 100%;
}

.promo-record-page .promo-card .main-content .description {
    font-weight: 300;
    color: var(--promo-card-main-description-color);
    display: flex;
}

.promo-record-page .promo-card .main-content .description .type {
    width: var(--promo-card-main-type-width);
}

.promo-record-page .promo-card .copy-content {
    margin: var(--promo-card-copy-margin);
    color: var(--promo-card-copy-font-color);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--promo-card-copy-width);
    font-weight: 300;
}

.promo-record-page .promo-card .copy-content-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--promo-card-copy-margin);

}

.promo-record-page .promo-card .copy-content .value {
    font-size: var(--promo-card-copy-value-font-size);
    line-height: var(--promo-card-copy-value-lineHeight);
    margin: var(--promo-card-copy-value-margin);
}

.promo-record-page .promo-card .copy-content {
    background-position: var(--promo-card-bg-position);
    background-size: var(--promo-card-bg-size);
}

.promo-record-page .promo-card .copy-content.failed {
    background-image: var(--promo-card-failed-bg-image);
}

.promo-record-page .promo-card .failed .copy-content-inner {
    background-color: var(--promo-card-failed-bg-color);
}

.promo-record-page .promo-card .copy-content.issued {
    background-image: var(--promo-card-issued-bg-image);
}

.promo-record-page .promo-card .issued .copy-content-inner {
    background-color: var(--promo-card-issued-bg-color);
}

.promo-record-page .promo-card .copy-content.review {
    background-image: var(--promo-card-review-bg-image);
}

.promo-record-page .promo-card .review .copy-content-inner {
    background-color: var(--promo-card-review-bg-color);
}

.promo-record-page .promo-card .copy-content:before, .promo-card .copy-content:after {
    content: '';
    width: var(--promo-card-circle-width);
    height: var(--promo-card-circle-height);
    border-radius: 50%;
    background-color: var(--base-bg-color);
    position: absolute;
}

.promo-record-page .promo-card .copy-content:before {
    left: var(--promo-card-circle-position);
    top: var(--promo-card-circle-position);
}

.promo-record-page .promo-card .copy-content:after {
    left: var(--promo-card-circle-position);
    bottom: var(--promo-card-circle-position);
}
