:root .register-page {
    --phone-code-padding: 0 calc(30vmin * var(--rate)) 0 0;
}

.register-page .content {
    height: calc(100vh - var(--com-nav-height));
    overflow-y: auto;
}

.register-page .am-list-item {
    background-color: unset;
}

.register-page .am-list-item .am-input-label {
    text-align: right;
}

.register-page, .register-page .fake-input, .register-page .fake-input-placeholder {
    font-size: var(--base-font-size);
}

.register-page .register-phone-code {
    padding: var(--phone-code-padding);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.register-page .phone-code-button {
    height: calc(66vmin * var(--rate));
    line-height: calc(66vmin * var(--rate));
    padding: 0 calc(19vmin * var(--rate)) !important;

}

.register-page .am-list-item.am-input-item {
    margin: calc(15vmin * var(--rate)) 0;
}

.register-page .am-input-control {
    background-color: #fff;
    border-radius: 3px;
}

.register-page .am-list-item .am-input-control input {
    height: calc(66vmin * var(--rate)) !important;
    padding: 0 6px;
}

.register-page .fake-input-container {
    margin-right: calc(20vmin * var(--rate));
}

.register-page .register-phone-code .am-list-line {
    padding-right: 1vmin !important;
}

.register-page .am-checkbox-wrapper a {
    color: var(--com-link-font-color);
    margin-left: 2vmin;
}

.register-page .am-checkbox-agree-label {
    color: var(--register-page-agree-color) !important;
}

.register-page .am-input-extra {
    display: none;
    margin-left: calc(-140vmin * var(--rate)) !important;
}

.register-page .captchaCode .am-input-extra {
    display: inline-block;
}

.register-page .com-captcha_img {
    margin-right: calc(20vmin * var(--rate));
}

.register-page-agreement {
    height: calc(100vh - var(--com-nav-height));
}

.register-page-agreement .full-card {
    height: calc(100vh - var(--com-nav-height) - calc(2 * 30vmin * var(--rate)));
    margin: calc(30vmin * var(--rate)) calc(20vmin * var(--rate));
    width: 96vmin;
    overflow: hidden;
    box-sizing: border-box;
    overflow-y: auto;
}
