/*存款页面*/
.saving-page .savingTabsContainer {
    width: 100%;
    background: var(--base-bg-color);
    text-align: left;
    height: calc(100vh - var(--com-nav-height) * 2);

}

.saving-page .savingTabsContainer .am-tabs-tab-bar-wrap {
    width: 100%;
    height: calc(88vmin * var(--rate));
}

.saving-page .savingTabsContainer .am-tabs-tab-bar-wrap .am-tabs-default-bar-tab {
    width: 100%;
    height: var(--prompt-default-height) !important;
    font-size: 4vmin;
    color: #666;
}

.saving-page .savingTabsContainer .am-tabs-tab-bar-wrap .am-tabs-default-bar-tab-active {
    color: #333;
}

.saving-page .savingTabsContainer .am-tabs-tab-bar-wrap .am-tabs-default-bar-underline {
    border: .27vmin solid #333;
}

/*提示组件默认样式*/
.saving-page .savingPrompt {
    width: 100%;
}

.saving-page .savingPrompt .am-notice-bar {
    background: #F8B551;
    padding-left: 5px;
}

.saving-page savingPrompt .am-notice-bar .notice-close-btn {
    display: flex;
    width: 4vmin;
    height: 4vmin;
    line-height: 4vmin;
    color: #fff;
    border: 1px solid #FFFCD8;
    font-size: 1.6vmin;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    /*overflow: hidden;*/
}

.saving-page .savingPrompt .am-notice-bar, .savingPrompt .am-notice-bar-marquee, .savingPrompt .am-notice-bar-marquee-wrap {
    height: 8vmin;
    line-height: 8vmin;
    color: #FFFCD8;
    font-size: 3.47vmin;
    right: 0 !important;
}

/*九宫格部分*/
.saving-page .savingTabsContainer .savingGrid {
    padding: calc(30vmin * var(--rate));
    padding-left: calc(33vmin * var(--rate));
    background: #EFEFEF;
}

.saving-page .savingTabsContainer .savingGrid .am-flexbox {
    margin-top: calc(13vmin * var(--rate));
}

.saving-page .savingTabsContainer .savingGrid .am-grid .am-flexbox .am-flexbox-item {
    width: calc(127vmin * var(--rate)) !important;
    height: calc(133vmin * var(--rate)) !important;
}

.saving-page .savingTabsContainer .am-grid .am-flexbox {
    background: transparent;
}

.saving-page .savingTabsContainer .savingGrid .am-grid-item-content {
    width: calc(126vmin * var(--rate));
    height: calc(129vmin * var(--rate));
    padding: 0 !important;
}

.saving-page .savingTabsContainer .savingGrid .saving-grid-item {
    width: calc(126vmin * var(--rate));
    height: calc(129vmin * var(--rate));
    background: #fff;
    border: calc(2vmin * var(--rate)) solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.saving-page .savingTabsContainer .savingGrid .saving-grid-item-active {
    background: rgba(23, 105, 187, .2);
    border: calc(2vmin * var(--rate)) solid #1766BB;
}

/*九宫格徽标样式*/
.saving-page .savingTabsContainer .savingGrid .am-badge-corner {
    width: 25.2vmin;
    padding: 2.07vmin;
    right: .4vmin;
    top: .4vmin;
    font-size: 3.2vmin;
    transform: rotate(-45deg) scale(.5, .5);
    background: #cd1f1f;
    color: #fff;
}

/*九宫格支付方式图标和文字样式*/
.saving-page .saving-grid-item-img {
    width: calc(66vmin * var(--rate));
    height: calc(66 * var(--rate));
}

.saving-page .saving-grid-item-text {
    color: #333;
    font-size: calc(20vmin * var(--rate));
}

/*calc(10vmin*var(--rate))*/

/*
    存款方式
*/
.saving-page .saveItems {
    padding: calc(30vmin * var(--rate));
    background-color: var(--saveItems-background-color);
}

.saving-page .savingTabsContainer .savingType, .selectCount {
    margin-top: calc(12vmin * var(--rate));
    color: var(--savingType-color);
}

/*.savingTabsContainer .savingType-tips ,.savingTabsContainer .pic-item-list,.savingTabsContainer .selectCount{*/
/*!*line-height: 100%;*!*/
/*text-align: left;*/
/*}*/
/*蓝色竖条*/
.saving-page .savingTabsContainer .tips-icon {
    vertical-align: middle;
    display: inline-block;
    border: var(--saveItems-tips-icon) solid calc(18vmin * var(--rate));
    border-left-width: calc(3vmin * var(--rate));
    border-right-width: calc(3vmin * var(--rate));
    margin-right: calc(10vmin * var(--rate));
}

.saving-page .savingTabsContainer .savingType .tips-text, .selectCount .tips-text {
    font-size: calc(28vmin * var(--rate));
}

/*选择金额*/
.saving-page .savingTabsContainer .chipsList {
    margin-top: calc(10vmin * var(--rate));
    min-height: calc(140vmin * var(--rate));
}

.saving-page .savingTabsContainer .chipsList .imgList {
    overflow: hidden;
}

.saving-page .savingTabsContainer .chipsList .imgList .chip {
    display: inline-block;
    width: calc(100vmin * var(--rate));
    height: calc(100vmin * var(--rate));
    margin: calc(20vmin * var(--rate)) calc(10vmin * var(--rate));
    text-align: center;
    line-height: calc(100vmin * var(--rate));
}

/*各种筹码颜色*/
.saving-page .savingTabsContainer .chipsList .imgList .get-chip100 {
    background: url(../image/chip_blue@3x.png);
    background-size: 100%;
}

.saving-page .savingTabsContainer .chipsList .imgList .get-chip200 {
    background: url(../image/chip_red@3x.png);
    background-size: 100%;
}

.saving-page .savingTabsContainer .chipsList .imgList .get-chip500 {
    background: url(../image/chip_yellow@3x.png);
    background-size: 100%;
}

.saving-page .savingTabsContainer .chipsList .imgList .get-chip1000 {
    background: url(../image/chip_green@3x.png);
    background-size: 100%;
}

.saving-page .savingTabsContainer .chipsList .imgList .get-chip5000 {
    background: url(../image/chip_black@3x.png);
    background-size: 100%;
}

.saving-page .savingTabsContainer .chipsList .imgList img {
    margin: calc(10vmin * var(--rate)) calc(18vmin * var(--rate)) calc(28vmin * var(--rate));
    width: calc(100vmin * var(--rate));
}

/*存款金额*/
.saving-page .savingTabsContainer .saveInput .am-list-item, .bankSelect .am-list-item {
    background-color: var(--saveItems-background-color);
    border-top: var(--base-bg-color) solid calc(1vmin * var(--rate));
    padding-left: unset !important;
}

.saving-page .saveItems .am-list-item .am-input-label, .saving-page .saveItems .am-list-item .am-input-control .fake-input-container .fake-input {
    color: #999;
}

.saving-page .savingTabsContainer .am-list-item .am-input-label.am-input-label-5 {
    font-size: calc(28vmin * var(--rate)) !important;
    text-align: left !important;
    padding: 0 !important;
}

/*
*提现
*/
.saving-page .savingTabsContainer .takeCash {
    background: var(--base-bg-color);
}

.saving-page .takeCash, .drawMoneyCount, .FeeCalculate {
    margin-top: calc(10vmin * var(--rate));
}

.saving-page .takeCash .listItem {
    padding: 0 calc(30vmin * var(--rate));
    background-color: var(--saveItems-background-color);
}

.saving-page .takeCash .listItem .am-list-item.am-list-item-middle .am-list-line {
    padding-right: 0;
}

.saving-page .takeCash .am-list-item {
    background-color: var(--saveItems-background-color);
    border-bottom: var(--takeCash-border-bottom) solid calc(1vmin * var(--rate));
}

.saving-page .takeCash .listItem .am-list-item.am-input-item {
    padding: 0;
    background-color: var(--saveItems-background-color);
}

.saving-page .takeCash .FinalListItem .am-list-item {
    border: none;
}

.saving-page .takeCash .am-list-item .am-input-control,
.saving-page .takeCash .am-list-item .am-input-control .fake-input-container .fake-input {
    font-size: calc(28vmin * var(--rate));
}

/*查看稽核*/
.saving-page .checkAudit {
    font-size: calc(28vmin * var(--rate));
    color: var(--takeCash-checkAudit-color);
    line-height: calc(80vmin * var(--rate));
    display: block;
    text-align: right;
    margin-right: calc(30vmin * var(--rate));
}

/*绑定银行卡*/
.saving-page .unbindCard .am-list-item .am-input-label {
    color: var(--takeCash-unbindCard-color);
}

.saving-page .unbindCard .am-list-item .am-input-label.am-input-label-5 {
    width: calc(260vmin * var(--rate));
}

.saving-page .hadBindCard .am-list-item .am-input-label.am-input-label-5 {
    width: calc(260vmin * var(--rate));
}

.saving-page .hadBindCard .am-input-control {
    text-align: right;
}
