body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-44px;
  width:874px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:20px;
  width:874px;
  height:426px;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:0px;
  width:159px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:35px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:0px;
  width:518px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:514px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:0px;
  width:108px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:86px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:89px;
  height:86px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:85px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:86px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:35px;
  width:159px;
  height:86px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:155px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:86px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:35px;
  width:518px;
  height:86px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:496px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:86px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:35px;
  width:108px;
  height:86px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:104px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:54px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:89px;
  height:54px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:85px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:54px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:121px;
  width:159px;
  height:54px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:155px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:54px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:121px;
  width:518px;
  height:54px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:496px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:54px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:121px;
  width:108px;
  height:54px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:104px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:39px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:89px;
  height:39px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:39px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:175px;
  width:159px;
  height:39px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:39px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:175px;
  width:518px;
  height:39px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:496px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:39px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:175px;
  width:108px;
  height:39px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:42px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:214px;
  width:89px;
  height:42px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:85px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:214px;
  width:159px;
  height:42px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:155px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:42px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:214px;
  width:518px;
  height:42px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:496px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:42px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:214px;
  width:108px;
  height:42px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:104px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:42px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:89px;
  height:42px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:85px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:256px;
  width:159px;
  height:42px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:155px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:42px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:256px;
  width:518px;
  height:42px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:496px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:42px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:256px;
  width:108px;
  height:42px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:104px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:42px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:298px;
  width:89px;
  height:42px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:85px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:298px;
  width:159px;
  height:42px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:155px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:42px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:298px;
  width:518px;
  height:42px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:496px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:42px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:298px;
  width:108px;
  height:42px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:104px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:86px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:89px;
  height:86px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:85px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:86px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:340px;
  width:159px;
  height:86px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:155px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:86px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:340px;
  width:518px;
  height:86px;
  line-height:18px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:496px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:86px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:340px;
  width:108px;
  height:86px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:104px;
  word-wrap:break-word;
}
