html,body {
    margin: 0;
    padding: 0;
}

.header-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.25rem;
    position: relative;
}

.header-title-container>img {
    position: absolute;
    left: 1.25rem;
}

.header-title-container>h2 {
    color: #333333;
    letter-spacing: 0;
}

.header-img-log {
    border-bottom: 1px solid #F0F1F3;
    border-top: 1px solid #F0F1F3;
    padding: 1.25rem;
}

.section-btn-container {
    width: 89.3%;
    height: 3.1875rem;
    border: 1px solid #4C7FFF;
    border-radius: 4px;
    position: relative;
    left: 5.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advert {
    font-size: 1.125rem;
    color: #4C7FFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.125rem;
    margin: 1.125rem 0;
}

.question {
    font-size: 1.125rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.125rem;
    background: #4C7FFF;
    margin-bottom: 2.25rem;
}

.course {
    padding: 0 1.125rem;
    font-size: 1rem;
    color: #333333;
    letter-spacing: -0px;
    line-height: 1.125rem;
    font-weight: bolder;
    margin: 1.125rem 0;
}

.series-content {
    width: 89.3%;
    position: relative;
    left: 5.3%;
    font-size: 0.875rem;
    color: #333333;
    letter-spacing: -0px;
    line-height: 0.875rem;
    border-bottom: 1px solid #F0F1F3;
    padding: 1.125rem 0;
}

.article-container {
    font-size: 0.8125rem;
    color: #4C7FFF;
    letter-spacing: 0;
    line-height: 0.8125rem;
    margin: 1.125rem 0;
    padding: 0 1.125rem;
}
.footer-container {
    font-size: 0.8125rem;
    color: #4C7FFF;
    letter-spacing: 0;
    line-height: 0.8125rem;
    padding: 1.125rem;
    margin-top: 2.25rem;
    border-top: 1px solid #F0F1F3;
}

/* .footer-help {
    font-size: 0.8125rem;
    color: #4C7FFF;
    letter-spacing: 0;
    width: 100%;
    position:absolute;
    padding-left: 1.25rem;
    bottom: 0;
    line-height:4.125rem;
    border-top: 1px solid #F0F1F3;
    margin-top: 2.25rem;
} */

/*第三级页面*/
.flow-container {
    opacity: 0.8;
    font-size: 13px;
    color: #394368;
    letter-spacing: -0px;
    line-height: 0.8125rem;
    display: flex;
    align-items: center;
    padding: 1.125rem;
}

/*四级页面*/
.other-article {
    width: 89.3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 5.3%;
    border-top: 1px solid #F0F1F3;
    border-bottom: 1px solid #F0F1F3;
    padding: 1.125rem 0;
}

.other-article-content .how-to-buy {
    font-size: 1.5rem;
    color: #333333;
    letter-spacing: -0px;
    line-height: 1.5rem;
}

.other-article-content {
    width: 89.3%;
    position: relative;
    left: 5.3%;
}

.common-fc ul {
    padding-left: 1.125rem;
}

.common-fc ul li {
    font-size: 0.9375rem;
}

.common-fc {
    font-size: 0.9375rem;
    color: #333333;
    letter-spacing: -0px;
    line-height: 1.5rem;
}

.different-bg-article {
    background:  #F2F6FF;
    border-left: .25rem solid #5785D3;
    padding-left: 0.625rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-top: 0.625rem;
    margin-bottom: 1.125rem;
}

.different-bg-article-title {
    z-index: 999;
    font-size: 1.125rem;
    color: #333333;
    letter-spacing: -0px;
    line-height: .9375rem;
}

.different-bg-article-content {
    font-size: .9375rem;
    color: #333333;
    letter-spacing: -0px;
    line-height: 1.5rem;
}

.real-rule {
    font-size: .9375rem;
    color: #4C7FFF;
    letter-spacing: -0px;
    line-height: 1.5rem;
}

.common-fc p:last-child {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #F0F1F3;
}

.correlation-article-container {
    font-size: .9375rem;
    letter-spacing: -0px;
    line-height: .9375rem;
}

.correlation-title {
    color: #333333;
    font-weight: bolder;
    margin-top: 2.25rem;
}

.wathet-title {
    color: #4C7FFF;
}

.select-content {
    width: 89.3%;
    position: relative;
    left: 2.5rem;
    font-size: .9375rem;
    line-height: 2.25rem;
    letter-spacing: -0px;
    display: none;
}
.select-content p:last-child {
    width: 89.3%;
    border-bottom: 1px solid #F0F1F3;
    padding-bottom: 1.125rem;
}

.same {
    color: #333333;
}

/* .different {
    color: #4C7FFF;
    line-height: 0.8125rem;
    font-size: 0.8125rem;
    position: relative;
    left: -1.25rem;
    border-bottom: 1px solid #F0F1F3;
    padding-bottom: 1.125rem;
} */

#imgBottom {
    display: none;
}

.six-appeal {
    font-size: .9375rem;
    color: #4C7FFF;
    letter-spacing: -0px;
    line-height: 1.5rem;
    font-weight: bold;
}

.find-pwd-flow {
    font-size: 1.125rem;
    color: #333333;
    letter-spacing: -0px;
    line-height: 1.125rem;
    font-weight: bold;
}

.find-pwd {
    font-size: .9375rem;
    color: #4C7FFF;
    letter-spacing: -0px;
    line-height: 1.5rem;
    font-weight: bold;
}

.how-to-binding {
    font-size: 1.125rem;
    color: #333333;
    letter-spacing: -0px;
    line-height: 1.125rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {

}




























