body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-44px;
  width:689px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:20px;
  width:689px;
  height:298px;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:35px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:0px;
  width:144px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:35px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:0px;
  width:298px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:0px;
  width:118px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:86px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:129px;
  height:86px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:125px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:86px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:35px;
  width:144px;
  height:86px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:140px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:86px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:35px;
  width:298px;
  height:86px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:276px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:86px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:35px;
  width:118px;
  height:86px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:114px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:54px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:129px;
  height:54px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:125px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:54px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:121px;
  width:144px;
  height:54px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:140px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:54px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:121px;
  width:298px;
  height:54px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:276px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:54px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:121px;
  width:118px;
  height:54px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:114px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:39px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:129px;
  height:39px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:175px;
  width:144px;
  height:39px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:39px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:175px;
  width:298px;
  height:39px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:39px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:175px;
  width:118px;
  height:39px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:214px;
  width:129px;
  height:42px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:125px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:42px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:214px;
  width:144px;
  height:42px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:42px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:214px;
  width:298px;
  height:42px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:276px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:214px;
  width:118px;
  height:42px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:129px;
  height:42px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:125px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:42px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:256px;
  width:144px;
  height:42px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:42px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:256px;
  width:298px;
  height:42px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:276px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:256px;
  width:118px;
  height:42px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
